@import 'src/resource/style/theme/colors';

.app-main-header{
    background-color: var(--main-header-bg);
    .header-title{
        position: absolute;
        margin: 0 auto;
        right: 0;
        left: 0;
    }
    .header-toggle-button{
        z-index: 99;
    }
}